<!-- genre.ejs -->
<html>
  <head>
    <title>Genres</title>
  </head>
  <body>
    <% genres.forEach((genre, index) => { %>
        <h2 ><%= genre.title %></h2>
        <span><%= genre.games%></span>
        
        <button><a href=<%="/" + genre.id%>>Edit genre</a></button>

        <form action=<%="/" + genre.id + %> method="POST" onsubmit="return confirm('Are you sure you want to delete this?');">
            <input type="hidden" name="csrf_token" value="xyz123"> <!-- CSRF Protection -->
            <button type="submit" style="color: red;">Delete Genre</button>
        </form>
        <button><a href="/new">Add new genre</a></button>
  </body>
</html>