<!-- newGame.ejs -->
<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome!!!</h1>
    <p>
      Want to see your <a href="/games">games?</a> Or the
      <a href="/developers">developers?</a> Or perhaps
      <a href="/genres">genres</a>
    </p>
  </body>
</html>
