<!-- newGame.ejs -->
<html>
  <head>
    <title>New Developer</title>
  </head>
  <body>
    <form method="POST" action="/developers/new">
      <h1>Add a new developer here:</h1>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="game">Games:</label>
      <input type="text" name="game" id="game" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
