<!-- newGenre.ejs -->
<html>
  <head>
    <title>New Genre</title>
  </head>
  <body>
    <form method="POST" action="/genres/new">
      <h1>Add a new genre here:</h1>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
