<!-- newGame.ejs -->
<html>
  <head>
    <title>New Game</title>
  </head>
  <body>
    <form method="POST" action="/games/new">
      <h1>Add a new game here:</h1>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required />
      <label for="developer">Developer:</label>
      <select name="developer" id="developerList">
        <% developers.forEach((developer) => {
          console.log(developer.name)%>
          <option value=<%=developer.id%>><%= developer.name %></option>
          <% }) %>
      </select>
      <label for="genre">Genre:</label>
      <select name="genre" id="genreList">
        <% genres.forEach((genre) => {
          console.log(genre.title)%>
          <option value=<%=genre.title%>><%= genre.title %></option>
          <% }) %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
